.App {
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  background-color: #f9f9f9;
}

.page-title {
  text-align: center;
  font-size: 3rem;
  color: #0047AB;
  margin-bottom: 3rem;
}
